[{
	"resource": "/Volumes/Data 1/project-wagolite/templates/index.html",
	"owner": "sonarlint",
	"code": "Web:S5725",
	"severity": 4,
	"message": "Make sure not using resource integrity feature is safe here.",
	"source": "sonarqube",
	"startLineNumber": 7,
	"startColumn": 5,
	"endLineNumber": 7,
	"endColumn": 107,
	"modelVersionId": 1,
	"origin": "extHost1"
},{
	"resource": "/Volumes/Data 1/project-wagolite/templates/index.html",
	"owner": "sonarlint",
	"code": "Web:S5725",
	"severity": 4,
	"message": "Make sure not using resource integrity feature is safe here.",
	"source": "sonarqube",
	"startLineNumber": 8,
	"startColumn": 5,
	"endLineNumber": 8,
	"endColumn": 109,
	"modelVersionId": 1,
	"origin": "extHost1"
},{
	"resource": "/Volumes/Data 1/project-wagolite/templates/index.html",
	"owner": "sonarlint",
	"code": "Web:S5725",
	"severity": 4,
	"message": "Make sure not using resource integrity feature is safe here.",
	"source": "sonarqube",
	"startLineNumber": 9,
	"startColumn": 5,
	"endLineNumber": 9,
	"endColumn": 74,
	"modelVersionId": 1,
	"origin": "extHost1"
},{
	"resource": "/Volumes/Data 1/project-wagolite/templates/index.html",
	"owner": "sonarlint",
	"code": "Web:S5725",
	"severity": 4,
	"message": "Make sure not using resource integrity feature is safe here.",
	"source": "sonarqube",
	"startLineNumber": 11,
	"startColumn": 5,
	"endLineNumber": 11,
	"endColumn": 115,
	"modelVersionId": 1,
	"origin": "extHost1"
},{
	"resource": "/Volumes/Data 1/project-wagolite/templates/login.html",
	"owner": "sonarlint",
	"code": "Web:S5725",
	"severity": 4,
	"message": "Make sure not using resource integrity feature is safe here.",
	"source": "sonarqube",
	"startLineNumber": 8,
	"startColumn": 5,
	"endLineNumber": 8,
	"endColumn": 74,
	"modelVersionId": 32,
	"origin": "extHost1"
},{
	"resource": "/Volumes/Data 1/project-wagolite/templates/login.html",
	"owner": "sonarlint",
	"code": "Web:S5725",
	"severity": 4,
	"message": "Make sure not using resource integrity feature is safe here.",
	"source": "sonarqube",
	"startLineNumber": 9,
	"startColumn": 5,
	"endLineNumber": 9,
	"endColumn": 87,
	"modelVersionId": 32,
	"origin": "extHost1"
},{
	"resource": "/Volumes/Data 1/project-wagolite/templates/login.html",
	"owner": "sonarlint",
	"code": "Web:S5725",
	"severity": 4,
	"message": "Make sure not using resource integrity feature is safe here.",
	"source": "sonarqube",
	"startLineNumber": 13,
	"startColumn": 5,
	"endLineNumber": 13,
	"endColumn": 119,
	"modelVersionId": 32,
	"origin": "extHost1"
}]